html { line-height: 1.5; }

html { height: 100%; }

@media screen and (min-width: 320px) { html { font-size: calc(18px + 4 * ((100vw - 320px) / 420)); } }
@media screen and (min-width: 740px) { html { font-size: 22px; } }
body { margin: 0; color: #222; font-feature-settings: "tnum"; min-height: 100%; display: flex; flex-direction: column; }

@media screen and (min-width: 493.58px) { img { width: auto; max-width: calc(100% - 2rem); margin: 1rem auto; } }
@media screen and (min-width: 740px) { img { margin: 1.5rem auto; } }
.highlighter-rouge { font-family: "Monaco", monospace; font-size: 0.667rem; line-height: 1.5; margin: 1rem 0; width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; display: flex; position: relative; overflow-x: auto; background: #fafafa; }

pre { margin: 0; width: 740px; margin: 0 auto; padding: 1rem; color: #444; position: relative; }

p code, li code { background: #efefef; padding: 0.1rem 0.2rem 0.1rem; font-family: "Monaco", monospace; font-size: 0.75rem; }

p { margin: 0 1 1rem; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 1rem; }

h1 { font-size: 1.75rem; line-height: 1.25; font-weight: 700; font-style: normal; }

h2 { font-size: 1.5rem; line-height: 1.25; margin-top: 2rem; font-weight: 700; font-style: normal; }

h3 { font-size: 1.25rem; line-height: 1.25; margin-top: 2rem; font-weight: 700; font-style: normal; }

h2 + h3, h2 + h4, h3 + h4 { margin-top: 1rem; }

h4 + h2, h4 + h3 { margin-top: -0.5rem; }

h4 { font-weight: 700; font-size: 0.775rem; line-height: 1.25; margin-top: 2rem; text-transform: uppercase; letter-spacing: 0.075em; text-rendering: optimizeGeometry; font-weight: 700; font-style: normal; }

h5, .h5 { font-size: 0.875rem; line-height: 1.5; font-style: italic; font-weight: 400; }
h5 .h5-arrow, .h5 .h5-arrow { font-style: normal; }
h5 .h5-arrow, .h5 .h5-arrow { font-family: sans-serif; font-weight: 400; }

strong, b { font-weight: 700; font-style: normal; }

em, i { font-style: italic; font-weight: 400; }

em strong, i b, em b, i strong, strong em, b i, b em, strong i { font-weight: 700; font-style: italic; }

@media screen and (min-width: 740px) { .body-container { padding-left: 1rem; padding-right: 1rem; } }
form input { font-size: 1rem; font-size: 0.875rem; line-height: 1.71429; }
form input { font-family: sans-serif; font-weight: 400; }
form input[type="submit"] { font-weight: 700; font-style: normal; border: none; font-size: 0.67rem; padding: 0 0.5rem; line-height: 2.23881; text-transform: uppercase; letter-spacing: 0.1em; cursor: pointer; background: transparent; background-image: linear-gradient(rgba(0, 215, 226, 0.5), rgba(0, 215, 226, 0.5)); background-size: 1em 1em; background-repeat: repeat-x; background-position: 0 1.1em; }
form input[type="submit"]:hover { background-image: linear-gradient(rgba(0, 215, 226, 0.8), rgba(0, 215, 226, 0.8)); }
