---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    860px;

$on-palm:          600px;
$on-laptop:        860px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import 
    "base",
    "layout",
    "syntax",
    "reset"
;

.center {
    text-align: center;
}

img[alt=png] { 
    width: 580px; 
    margin: 2%;
}

iframe {
    margin: 2%;
}

table {
    text-align: center;
    width: 100%;
    display: table;
    border-color: $grey-color;
    margin-top: 2%;
    margin-bottom: 2%;
}

thead {
    background-color: #F2F2F2;
    border-bottom: 1px solid #bdc1c4;
    display: table-header-group;
    vertical-align: middle;
}

img + em {
    display: block;
}

.MathJax {
    font-size: 1.75rem !important;
}

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
